html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
.navbar-fixed {
  position: fixed;
  width: 100%;
  z-index: 100;
}

footer {
  position: fixed;
  bottom: 0;
  z-index: 100;
  width: 100%;
}
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
  
}
.content-containerVideo {
  flex-grow: 1;
  
}

.allCars {
    margin: 0;
    overflow-y: scroll;
    flex-grow: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    
  }

.content-container {
  flex-grow: 1;
  position: absolute;
  
}



.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  
  
}

.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  /* filter: blur(2px); */
  
  
}
.backgroundImage{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;


}

.backgroundImage img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
  max-width: 100%;
  /* filter: blur(2px); */


}



.navbar-fixed {
  display: flex;
  align-items: center;
  height: 60px;
  overflow: hidden;
  /* Adjust the height value as needed */
}

@media (max-width: 576px) {
  .navbar-fixed {
    height: 60px;
    /* Adjust the height value for smaller screens */
  }
}
@media (max-width: 576px) {
  .experience-tesla-heading {
    font-size: 3.2rem !important;
    
  }
    .first-p {
      font-size: 1.8rem !important;
    }
        .second-p {
          font-size: 1.1rem !important;
        }

.ps-3 img {
  width: 50px !important;
  height: 70px;
  padding-top: 15px;
  margin-right: 0;
}

.tesla-name img {
  width: 70px !important;
  height: 80px;
  padding-top: 3px;
  margin-right: 50px;
  margin-left: 0;
}

}
.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  
}
.tesla-name {
  display: flex;
  justify-content: center;
  align-items: center;
}
         .content-container:nth-child(2) {
           margin-top: 100vh;
         }
    
         .content-container:nth-child(3) {
           margin-top: 200vh;
         }
                 .content-container:nth-child(4) {
                   margin-top: 300vh;
                 }
.shopping-cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  
  /* Semi-transparent background */
}

/* .custom-modal {
  background-color: black;
} */

.custom-body {
  background-color: black;
  color: white;

}

.custom-card {
  background-color: black!important;
  color: white!important;
  border: 1px solid white!important;
}
.custom-header {
  background-color: black;
  color: white;
  
}
.custom-footer {
  background-color: black!important;
  border: 1px solid white;
  color: white;
 
}